
body {
  font-family: "Poppins", sans-serif;
  color: #444444;

}

a {
  text-decoration: none;
  color: #b2d732;
}

a:hover {
  color: #D2386C;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", sans-serif;
  font-size: 4em;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: #88B048;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  text-align : right;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #4d0000;
}

/*
Main body*/

#main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}


#main h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 500;
 
}

#main h2 span {
  color:#800000;
}

/*--
    custom heading Start
--*/
.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #FF5333;
}
.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 150px;
  left: 100px;
  font-weight: bold;
  font-size: 2em;
}

 

/*--------------------------------------------------------------
# Restaurants
--------------------------------------------------------------*/
.restaurants .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
  background-color: #dcdcdc;
}

.restaurants .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #b2d732;
}

.restaurants .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #6c665c;
}

.restaurants .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.restaurants .box:hover {
  background: #b2d732;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.restaurants .box:hover span, .restaurants .box:hover h4, .restaurants .box:hover p {
  color: #fff;
}

.restaurants .mark{
	color: green;
}



/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .menu-content {
	width: 100%;
  height: 8vh;
  overflow: hidden;
  padding: 0;
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................"
 "...................................................................."
 "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Cooper Std Black;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #D2386C;
   font-size: 1.6em;
  font-family: Cooper Std Black;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  font-family: Cooper Std Black;
  font-size: 1.3em;
}

.menu .button-cart{
		margin: auto;
		text-align: center;
		width: 50px;
	}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .box {
width: 90%;
  height: 50vh;
  overflow: hidden;
  padding: 0;
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background-color:#898E8C ;/*neutral gray*/
}

.blog .box span {
  display: block;
  font-size: 25px;
  font-weight: 700;
  color: #D2386C;
}

.blog .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 15px 0;
  color: #D2386C;
}

.blog.box p {
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.blog .box:hover {
  background: #D2386C;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.blog .box:hover span, .blog .box:hover h4, .blog .box:hover p {
  color: #fff;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info i{
  width: 50%;
  height: 8vh;
  overflow: hidden;
  padding: 0;
  font-size: 20px;
  color: #ffff;
  float: left;
  width: 44px;
  height: 44px;
  background: #D2386C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  
}

.contact .info:hover i {
  background: #b76ba3;
  color: #edf1ff;/*brilliant white*/
}

#submit{
	text-align:center;
	border-radius: 50px;
	padding: 12px 30px;
	color:#D2386C;
   border: 2px solid #672E3B;
}

#submit:hover{
  background: #D2386C;
  color: #edf1ff;/*brilliant white*/
}

/*
Add to cart button-cart
*/
.button {

  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 3px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px; 
}

.cart {
  background-color: white; 
  color: #d2386c; 
  border: 2px solid #898E8C ;/*neutral gray*/
}

.cart:hover {
  background-color: #898E8C ;/*neutral gray*/
  color: white;
}

/* cart*/
.products-container{
		max-width: 650px;
		justify-content: space-around;
		margin: o auto;
		margin-top: 50px;
}
.products-header{
		width:100%;
		max-width:650px;
		display: flex;
		justify-content:flex-start;
		
		margin:0  auto;
}
.products-title{
	width: 45% 	
}

.price{
	
		width:15%;
		display: flex;
		align-items: center;
		
}
.total{
		
		display: flex;
		align-items: center;
		border-bottom: 4px solid lightgrey;
		width: 70%;
		
}
.quantity{
		width: 20%;
		align-items: center;
		padding: 10px 0;
		justify-content: space-around;
}
.basketTotalContainer{
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 10px 0;
}
.basketTotalTitle{
width: 40%	
}
.basketTotal{
width: 10%	
}

.products-container ion-icon{
font-size: 25px;
color: blue;
margin-left: 10px;
margin-right: 10;
cursor: pointer;	
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

#button{
	text-align:center;
	border-radius: 50px;
	padding: 12px 30px;
	color:#D2386C;
   border: 2px solid #672E3B;
}

#button:hover{
  background:#88B048;
  color: #edf1ff;/*brilliant white*/
}


.padding {
    padding: 5rem !important
}

.form-control:focus {
    box-shadow: 10px 0px 0px 0px #ffffff !important;
    border-color: #4ca746
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: black;
  font-size: 13px;
  text-align: center;
  padding: 15px 0;
}


#footer h3 {
  font-size: 36px;
  font-weight: 500;
  color: black;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer h3 span {
  color:#D2386C;
}


#footer p {
  font-size: 12;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .fa {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .fa:hover {
    opacity: 0.7;
}

#footer .fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
}

#footer .fa-twitter {
  background: #55ACEE;
  color: white;
    text-align: center;
}

#footer .fa-google {
  background: #dd4b39;
  color: white;
}

#footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

#footer .fa-instagram {
  background: #125688;
  color: white;
}

#footer .copyright {
  margin: 0 0 5px 0;
}